<!DOCTYPE html>
<html>
<head>
  <title>Register New Student</title>
   <link type="text/css" rel="stylesheet" href="/stylesheets/thesis.css" />
   <link type="text/css" rel="stylesheet" href="/stylesheets/jquery.toastmessage-min.css" />
   <script language="javascript" type="text/javascript" src="/js/jquery-1.5.min.js"></script>
   <script language="javascript" type="text/javascript" src="/js/jquery.toastmessage-min.js"></script>
   <script language="javascript" type="text/javascript" src="/js/thesis.js"></script>
   
</head>

<body>
<img alt="full screen background image" src="/img/web_bg.jpg" id="full-screen-background-image" /> 

<div class="navbar navbar-inverse navbar-fixed-top"> 
  <div class="container">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-
target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
  <div class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">
      <li><a class="nav navbar-nav" href="/">Thesis Manager</a></li>

      <li class="drop2"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Advisers
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
      <li><a href="/adviser/new">Create</a></li>
      <li><a href="/adviser/list">View All</a></li>
      </ul>
      </li>

      <li class="drop3"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Students
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
      <li><a href="/student/new">Create</a></li>
      <li><a href="/student/list">View All</a></li>
      </ul>
      </li>

      <li class="drop4"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Theses
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
      <li><a href="/thesis/new">Create</a></li>
      <li><a href="/thesis/list">View All</a></li>
      </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    <li class="drop1"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Developers Profile
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
      <li><a href="/module-1/1">Mark Kelvin Mojagan</a></li>
      <li><a href="/module-1/2">Raph Dumape</a></li>
      <li class="divider"></li>
      <li><a class="nav navbar-nav" href="{{ url|safe }}">{{ url_linktext }}</a></li>
      </ul>
      </li>
    </ul>
    </div>
    </div>
  </div>

<div class="container">
  
<div class="col-lg-7 col-xs-push-1" style="margin-top:45px;">
  <div class="page-header"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Update Student Details</h2></div>
  <div class="well bs-component">
 {% for studentquery in studentquery %}
 {% if studentquery.key.id() == id %} 
<form action="/student/edit/{{studentquery.key.id()}}" method="post" class="form-horizontal">
<fieldset>
<div class="form-group">
    <label class="col-lg-2 control-label">Department: </label>
  <div class="col-lg-3">
    <select name="department" id="introstudent" class="form-control">
            <option value="{{studentquery.department}}">{{studentquery.department}}</option>
            <option value="COE">COE</option>
            <option value="ECE">ECE</option>
            <option value="EE">EE</option>
            <option value="IE">IE</option>
            <option value="CE">CE</option>
            <option value="ME">ME</option>
            </select>
  </div>
</div>     
  <div class="form-group">        
    <div class="col-lg-7">    
        <input type="text" value="{{studentquery.firstname}}" id="firstname" class="form-control" name="firstname" placeholder="First Name"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-7">
            <input type="text" value="{{studentquery.lastname}}" id="lastname" class="form-control" name="lastname" placeholder="Last Name"/>
    </div>
  </div>


<div class="form-group">
  <div class="col-lg-7">
    <input type="text" value="{{studentquery.s_num}}" id="snum" class="form-control" name="s_num" placeholder="Student Number"/>
  </div>
</div>

 <div class="form-group">
  <div class="col-lg-7">
          <input type="email" value="{{studentquery.emailadd}}"  id="email_add" class="form-control" name="emailadd" placeholder="Email"/>
  </div>
</div>

<div class="form-group">
  
    
  
  <div class="col-lg-7">
    <label class="col-lg-1 control-label col-xs-pull-1">Remarks:</label><br>
    <textarea name="remarks" class="form-control remarks" rows="3" style="resize:none;">{{studentquery.remarks}}</textarea>
  </div>
</div>


<div class="form-group">
  <div class="col-lg-10">
    <button name="submit" type="submit" class="btn btn-primary" id="submit">Submit</button>
  </div>
</div>
</fieldset>
</form>
{% endif %}
{% endfor %}
</div>
</div>

<div class="toast-container toast-position-top-center"></div>  

</div>
</body>
</html>
